################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
/bin/Debug
/Noto_Color_Emoji
/.vs
/.gitignore
